<div class="row align-items-center" *ngIf="!authService.loggedIn()">
  <br><br><br>
  <h1 class="align-items-center">Profit & Loss System</h1>
  <br><br><br>
</div>
<div *ngIf="authService.loggedIn()">
  <br>
  <form [formGroup]="queryForm">
    <div class="row align-items-center">
      <div class="col-2">
        <label class="my-1 mr-2" for="desk"><strong>Desk</strong></label>
      </div>
      <div class="col-2">
        <select formControlName="desk" (change)="getSelectedDeskDetails()" required class="custom-select my-1 mr-sm-2"
          id="desk">
          <option *ngFor="let desk of desks" value="{{desk.deskId}}">{{desk.desk}}</option>
        </select>
      </div>
    </div>
  </form>
  <hr>
  <div class="row align-items-center" *ngIf="!detailsAvailable">
    <div class="col-12">
      <h4><strong>Data not available for selected desk.</strong></h4>
    </div>
  </div>
  <div class="row align-items-center" *ngIf="detailsAvailable">
    <div class="col-12">
      <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th scope="col">Portfolio</th>
            <th scope="col">Approved By</th>
            <th scope="col">Currency</th>
            <th scope="col">Business Date</th>
            <th scope="col">Approval Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of selectedDeskDetails">
            <td>{{d.portfolio_Name}}</td>
            <td>{{d.approvedBy}}</td>
            <td>{{d.currency}}</td>
            <td>{{d.businessDate | date:'dd-MMM-yyyy'}}</td>
            <td>{{d.approvalDate | date:'dd-MMM-yyyy'}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>